<div id="<%= dom_id guest %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= guest.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= guest.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= guest.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= guest.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preferences:</strong>
    <%= guest.preferences %>
  </p>

</div>
