<div id="<%= dom_id data_access_request %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Developer:</strong>
    <%= data_access_request.developer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data type:</strong>
    <%= data_access_request.data_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Requested at:</strong>
    <%= data_access_request.requested_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= data_access_request.status %>
  </p>

</div>
