<div id="<%= dom_id api_log %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Api key:</strong>
    <%= api_log.api_key_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Request details:</strong>
    <%= api_log.request_details %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Response time:</strong>
    <%= api_log.response_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Timestamp:</strong>
    <%= api_log.timestamp %>
  </p>

</div>
