<div id="<%= dom_id booking %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Room:</strong>
    <%= booking.room_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Guest:</strong>
    <%= booking.guest_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Check in date:</strong>
    <%= booking.check_in_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Check out date:</strong>
    <%= booking.check_out_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= booking.status %>
  </p>

</div>
