<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Reservation:</strong>
    <%= order.reservation_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Menu item:</strong>
    <%= order.menu_item_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </p>

</div>
