<div id="<%= dom_id staff_schedule %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= staff_schedule.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shift start:</strong>
    <%= staff_schedule.shift_start %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shift end:</strong>
    <%= staff_schedule.shift_end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= staff_schedule.role %>
  </p>

</div>
