<div id="<%= dom_id review %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Guest:</strong>
    <%= review.guest_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Review text:</strong>
    <%= review.review_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= review.rating %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sentiment:</strong>
    <%= review.sentiment %>
  </p>

</div>
